apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-management
  namespace: kube-system
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-management
  template:
    metadata:
      labels:
        app: user-management
    spec:
      containers:
      - name: user-management
        image: entropypool/user-management:latest
        imagePullPolicy: Always
        env:
        - name: ENV_ENVIRONMENT_TARGET
          valueFrom:
            configMapKeyRef:
              name: system-environment
              key: environment.target
        - name: ENV_CONSUL_HOST
          valueFrom:
            configMapKeyRef:
              name: system-environment
              key: environment.consul_host
        - name: ENV_CONSUL_PORT
          valueFrom:
            configMapKeyRef:
              name: system-environment
              key: environment.consul_port
        - name: ENV_CLUSTER_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace

---
apiVersion: v1
kind: Service
metadata:
  name: user-management
  namespace: kube-system
spec:
  ports:
  - name: api
    port: 50070
    targetPort: 50070
  - name: grpc
    port: 50071
    targetPort: 50071
  - name: prometheus
    port: 50072
    targetPort: 50072
  selector:
    app: user-management